* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.depan {
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
}

.form-box {
  width: 380px;
  height: 450px;
  position: relative;
  margin: 2% auto;
  padding: 5px;
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgb(121, 9, 16);
  border-radius: 20px;
  overflow: hidden;
  z-index: 2;
}

#elipse {
  left: -70px;
  top: -40px;
  position: absolute;
  width: 300px;
  height: 200px;
  border-radius: 50%/50%;
  background: rgb(121, 9, 16);
  background: linear-gradient(
    90deg,
    rgba(121, 9, 16, 1) 7%,
    rgba(2, 0, 36, 1) 93%
  );
  transform: rotate(-45deg);
}
#elipse2 {
  left: -10px;
  top: -40px;
  position: absolute;
  width: 300px;
  height: 200px;
  border-radius: 50%/50%;
  border: 1px;
  border-color: black;
  border-style: solid;
  transform: rotate(-45deg);
}

.button-box {
  width: 200px;
  margin: 30px auto;
  position: relative;
  border: 0.002px;
  color: rgb(121, 9, 16);
  border-style: solid;
  /* box-shadow: 0 0 10px 1px #747070; */
  border-radius: 5px;
}

.toggle-btn {
  font-size: 13px;
  font-weight: 400;
  padding: 10px 26px;
  justify-content: space-evenly;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  color: rgb(121, 9, 16);
}

#btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 100px;
  height: 100%;
  background: #ffe7e7;
  border-radius: 5px;
  transition: 0.5s;
}

.input-login {
  font-size: 14px;
  margin-left: 2px;
  top: 150px;
  position: absolute;
  width: 280px;
  transition: 0.5s;
}

.input-field {
  width: 100%;
  height: 20px;
  padding: 3px 5px;
  margin: 3px 0;
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
  background: transparent;
}

.submit-btn {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  margin-top: 20px;
  background: rgb(121, 9, 16);
  background: linear-gradient(
    90deg,
    rgba(121, 9, 16, 1) 7%,
    rgba(2, 0, 36, 1) 93%
  );
  border: 0;
  outline: none;
  border-radius: 5px;
  color: white;
}

.judul {
  font-size: 36px;
  top: 20px;
  left: 43.5%;
  color: black;
  align-items: center;
  position: relative;
  margin: 20px auto;
}

.judul a {
  text-decoration: none;
  color: black;
}

#login {
  left: 50px;
}

#register {
  left: 450px;
}

#elipse3 {
  right: -100px;
  bottom: -120px;
  position: absolute;
  width: 500px;
  height: 400px;
  border-radius: 50%/50%;
  background: rgb(121, 9, 16);
  background: linear-gradient(
    90deg,
    rgba(121, 9, 16, 1) 7%,
    rgba(2, 0, 36, 1) 93%
  );
  transform: rotate(-45deg);
  z-index: -2;
}
#elipse4 {
  right: -50px;
  bottom: -100px;
  position: absolute;
  width: 500px;
  height: 400px;
  border-radius: 50%/50%;
  border: 2px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  transform: rotate(-45deg);
  z-index: 1;
}

.eye {
  position: absolute;
  width: 18px;
  top: 83px;
  right: -4px;
  opacity: 0.5;
  cursor: pointer;
}

.mata {
  position: absolute;
  opacity: 0;
  top: 82px;
  right: -4px;
  cursor: pointer;
}
