* {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

body {
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-start: 0;
  width: 1370px;
}

header {
  height: 80px;
  color: aliceblue;
  background: rgb(121, 9, 16);
  background: linear-gradient(
    -90deg,
    rgba(121, 9, 16, 1) 7%,
    rgba(2, 0, 36, 1) 93%
  );
  display: flex;
  justify-content: flex-end;
  /* margin: -20px; */
}

nav {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.search {
  width: 20px;
  position: absolute;
  right: 37%;
  top: 37px;
  opacity: 0.5;
}

.sm-input {
  margin-top: 15px;
}

.sm-login {
  display: flex;
  margin-top: 15px;
}

nav ul {
  align-items: center;
  display: flex;
  /* justify-content: flex-end; */
  padding-left: 50px;
  padding-right: 50px;
}

nav ul input {
  border: none;
  border-radius: 20px;
  padding-left: 15px;
  height: 25px;
  width: 250px;
  margin-right: 20px;
  font-weight: 300;
}

.logo {
  /* margin-left: 85px; */
  align-items: center;
  left: 48px;
  position: absolute;
  /* top: 10px; */
}

.logo a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.bagian-atas {
  margin-top: 16px;
  overflow-x: hidden;
}

.bagian-atas a {
  padding: 10px;
  font-size: 12px;
  cursor: pointer;
}

.bagian-atas img {
  position: relative;
  top: 3px;
  width: 15px;
}

#login a {
  text-decoration: none;
  color: aliceblue;
}
