@layout('layout/main')

@section('styleu')
      <link rel="stylesheet" href="/css/beranda.css" />
@endsection

@section('content')
    <section id="now-playing">
      <h5>| Now Playing</h5>
      <img />
    </section>

    <section>
      <h5>| Upcoming</h5>
      <img />
    </section>

    <section>
      <h5>| New Series</h5>
      <img />
    </section>
@endsection